@import url('../js/libs/react-bootstrap-table/css/react-bootstrap-table-all.min.css');

body {
	font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.shopping-navbar {
	border-radius: 0 !important;
}

.shopping-navbar-brand {
	color: #FFFB00 !important;
	font-size: larger;
	font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin-left: 8px;
	text-decoration: none !important;
}

.shopping-nav-item {
	color: white !important;
	font-size: 14px !important;
}

.shopping-nav-item:hover {
	color: #FFFB00 !important;
	font-size: 15px !important;
}

.shopping-navbar-logo {

}

.shopping-header-container {
	text-align: center;
}

.shopping-header-title {
	color: #93c54b;
}

.shopping-form-label {
	color: #007C21;
}

.table-striped>tbody>tr:nth-of-type(odd) {
	background-color: rgba(147, 197, 75, 0.11) !important;
}
